<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.test.dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.exam.test.pojo.Score">
    <id column="s_id" jdbcType="INTEGER" property="sId" />
    <result column="s_score" jdbcType="INTEGER" property="sScore" />
    <result column="testpaper_id" jdbcType="INTEGER" property="testpaperId" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
  </resultMap>
  <sql id="Base_Column_List">
    s_id, s_score, testpaper_id, student_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where s_id = #{sId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from score
    where s_id = #{sId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.exam.test.pojo.Score">
    insert into score (s_id, s_score, testpaper_id, 
      student_id)
    values (#{sId,jdbcType=INTEGER}, #{sScore,jdbcType=INTEGER}, #{testpaperId,jdbcType=INTEGER}, 
      #{studentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.exam.test.pojo.Score">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sId != null">
        s_id,
      </if>
      <if test="sScore != null">
        s_score,
      </if>
      <if test="testpaperId != null">
        testpaper_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sId != null">
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="sScore != null">
        #{sScore,jdbcType=INTEGER},
      </if>
      <if test="testpaperId != null">
        #{testpaperId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exam.test.pojo.Score">
    update score
    <set>
      <if test="sScore != null">
        s_score = #{sScore,jdbcType=INTEGER},
      </if>
      <if test="testpaperId != null">
        testpaper_id = #{testpaperId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
    </set>
    where s_id = #{sId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exam.test.pojo.Score">
    update score
    set s_score = #{sScore,jdbcType=INTEGER},
      testpaper_id = #{testpaperId,jdbcType=INTEGER},
      student_id = #{studentId,jdbcType=INTEGER}
    where s_id = #{sId,jdbcType=INTEGER}
  </update>
</mapper>